<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="display-4">Notre Menu</h1>
      <p class="lead">Explorez nos plats délicieux.</p>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Entrée</h5>
          <p class="card-text">Salade César</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Plat Principal</h5>
          <p class="card-text">Filet Mignon</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Dessert</h5>
          <p class="card-text">Tarte au Citron</p>
        </div>
      </div>
    </div>
  </div>
</div>
